body{
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: black;
    overflow-y: scroll;
}
#chartH2{
    color: white;
    text-align: center;
    margin-top: 10px;
    font-family: sans-serif;
}
.arrowleft,.shareContainer{
    z-index: 4;
}
.fa-share-alt,.fa-arrow-left{
    margin-left: 20px;
    font-family: sans-serif;
}
#inputOfCoping{
    margin-top: -20px;
    opacity: 0;
    width: 1px;  
}
#chartTracksContainer{
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.chartDiv{
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(31, 30, 30);
    border-radius:10px ;
    max-height: 251px;
    min-height: 215px;
}
.chartImage{
    width: 150px;
    border-radius: 10px;
}
.url{
    display: none;
}
.chartTitle{
    padding-left: 10px;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chartSubTitle{
    font-size: small;
    color: rgb(161, 161, 161);
    overflow: hidden;
    margin-top: -10px;
    margin-left: 10px;
    font-family: sans-serif;
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#TracksShazamContainer{
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
    margin:0;
    padding: 0;
}

/* ******************************** media queries************************************************* */
@media(max-width: 320px){
    #chartTracksContainer{
        padding-left: 2px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .chartDiv{
        margin-top: 10px;

    }
}

@media(min-width: 360px){
    #chartTracksContainer{
        padding-left: 8px;
    } 
}

@media(min-width: 375px){
    #chartTracksContainer{
        padding-left: 10px;
    } 
}

@media(min-width: 414px){
    #chartTracksContainer{
        padding-left: 20px;
    } 
}

@media(min-width: 1024px){
    .fa-arrow-left,.fa-share-alt{
        font-size: 40px !important;
    }
    .fa-share-alt{
        margin-top: 50px;
    }
    .fa-arrow-left{
        margin-left: 50px;
    }
    .optionSong,.optionLyrics,.optionArtist{
        font-size: 40px;
        height: 60px;
    }
    .musicDetails{
        margin-top: 30em;
        font-size: 30px;
    }
    .artistName{
        font-size: 30px;
    }
    .fullMusicButton{
        font-size: 30px;
        height: 70px;
    }
    #chartH2{
        font-size: 40px;
    }
    .shareContainer{
        padding-left: 50px;
        padding-bottom: 50px;
    }
    #chartTracksContainer{
        padding-left: 50px;
    }
    .chartDiv{
        width: fit-content;
        height: fit-content;
        max-height: 600px;
        margin-top: 20px;
    }
    .chartImage{
        width: 400px;
    }
    .chartTitle{
        padding-left: 10px;
        font-size: 30px;
        max-width: 300px;
        max-height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .chartSubTitle{
        font-size: 20px;
        max-width: 300px;
        max-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #artistImg{
        margin-top: 15em;
    }
    #artistImage{
        width: 300px;
    }
    .artistNameh4{
        font-size: 30px;
    }
}
