body,html{
    margin: 0;
    padding: 0;
    background: black;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    color: white;
    box-sizing: border-box;
    
}
#libraryH2{
    font-family: sans-serif;
    text-align: center;
}
.shazamContainer{
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.shazamlibrary{
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(31, 30, 30);
    border-radius:10px ;
    max-height: 251px;
}
.fa-ellipsis-v{
    float: right;
    margin-bottom: 20px;
    margin-right: 10px;
}
.musicCover{
    width: 150px;
    border-radius: 10px;
}
.tileAndArtist{
    padding-left: 10px;
    font-family: sans-serif;
    font-size: 14px;
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
span{
    font-size: small;
    color: rgb(161, 161, 161);
}
.dialogOptionContainer{
    display: flex;
    flex-direction: column;
}
.hr{
    color:rgb(31, 30, 30);
    margin-left: 50px;
    margin-right: 50px;
}
.option{
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 20px;
}
.fa-trash,.fa-share-alt,.fa-share{
    margin-left: 20px;
}
#dialog{
    width: 100%;
    height: fit-content;
}
#dialogcontent{
    display: none;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
}
#dialogBox{
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
    background: rgb(31, 30, 30);
}
.dialogImgContainer{
    margin-left: 20px;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
}
.dialogImg{
    margin-top: 10px;
    width: 50px;
    border-radius: 10px;
}
.dialogPara{
    margin-left: 20px;
    font-family: sans-serif;
}
#dialogMusicUrl{
opacity: 0;
width: 10px;
}
#inputOfCoping{
    margin-top: -20px;
    opacity: 0;
    width: 1px;  
}
/* **************************media queries ************************************ */
@media(max-width: 320px){
    .shazamContainer{
        padding-left: 2px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .shazamlibrary{
        margin-top: 10px;

    }
}

@media(min-width: 360px){
    .shazamContainer{
        padding-left: 8px;
    } 
}

@media(min-width: 375px){
    .shazamContainer{
        padding-left: 10px;
    } 
}

@media(min-width: 414px){
    .shazamContainer{
        padding-left: 20px;
    } 
}


/* ****************************** shazam response section ************************************************* */
#shazamResponse{
    display: none;
    background-repeat: no-repeat;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    z-index: 1;
}
.musicOption{
    position: fixed;
    width: 100%;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #ffffff;
    z-index: 4;
    /* background: linear-gradient(to bottom,black,rgba(0, 0, 0, 0)); */
 }
.optionContainer{
    z-index: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
}
.musicCoverDiv{
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
}
.musicCoverSection{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
   
} 
 #cover{
    max-width: 100%;
    min-height: 100%;
    height: auto;
    object-fit: cover; 
    /* margin-bottom: 20px; */
    /* border-radius: 10px; */

}
.detailsContainer{
    z-index: 1;
    margin-top: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    top: 0;
    background: linear-gradient(to top,black,rgba(20, 20, 20, 0));
    color: white;
    font-family: sans-serif;
}
.musicDetails{
    margin-top: 30em;
    margin-left: 20px;
}
.artistName{
    color: rgb(100, 99, 99);
    font-size: small;
}
.arrowleft,.shareContainer{
    z-index: 4;
}
.fa-share-alt,.fa-arrow-left{
    margin-left: 20px;
    font-family: sans-serif;
}
.optionSong,.optionLyrics,.optionArtist{
    padding-top: 11px;
    height: 30px;
    border-radius: 20px;
}
.playFullMusic{
    text-align: center;
    font-family: sans-serif;
}
.fullMusicButton{
    border: none;
    background: rgb(31, 30, 30);
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 10em;
    margin-top: 30px;
    
}

#lyricsContainer{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
/* *******************************************artist section*************************************** */
#artistContainer{
    z-index: 1;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}
#artistImg{
    text-align: center;
    margin-top: 5em; 
}
#artistImage{
    border-radius: 50%;
    width: 200px;
}
.artistNameh4{
    color: rgb(189, 186, 186);
    text-align: center;
    font-family: sans-serif;
}
#trackParagraph{
    color:rgb(100, 99, 99);
    margin-left: 30px;
    font-family: sans-serif;
}
hr{
    color: rgb(100, 99, 99);
    margin: 0px 30px 0 30px;
    height: 1px;  
} 
/* ******************************************** response media queries ***************************************** */
@media(min-width: 768px){
    .musicDetails{
        margin-top: 40em;
        margin-left: 20px;
    }
    .fullMusicButton{
        border: none;
        background: rgb(31, 30, 30);
        color: white;
        border-radius: 20px;
        height: 50px;
        width: 15em;
        margin-top: 100px;
        
    }
}

@media(min-width: 1024px){
    .fa-arrow-left,.fa-share-alt{
        font-size: 40px !important;
    }
    .fa-share-alt{
        margin-top: 50px;
    }
    .fa-arrow-left{
        margin-left: 50px;
    }
    .optionSong,.optionLyrics,.optionArtist{
        font-size: 40px;
        height: 60px;
    }
    .musicDetails{
        margin-top: 30em;
        font-size: 30px;
    }
    .artistName{
        font-size: 30px;
    }
    .fullMusicButton{
        font-size: 30px;
        height: 70px;
    }
    #libraryH2{
        font-size: 40px;
    }
    .shareContainer{
        padding-left: 50px;
        padding-bottom: 50px;
    }
    .fa-ellipsis-v{
        font-size: 30px;
        float: right;
    }
    .shazamContainer{
        padding-left: 50px;
    }
    .shazamlibrary{
        width: fit-content;
        height: fit-content;
        max-height: 600px;
        margin-top: 20px;
    }
    .musicCover{
        width: 400px;
    }
    .tileAndArtist{
        padding-left: 10px;
        font-size: 30px;
        max-width: 300px;
        max-height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    span{
        font-size: 20px;
        max-width: 300px;
        max-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #artistImg{
        margin-top: 15em;
    }
    #artistImage{
        width: 300px;
    }
    .artistNameh4{
        font-size: 30px;
    }
}