body{
    margin: 0;
    padding: 0;
    background: #000;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
}
#ShazamWelcome{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
header{
    width: 100%;
    display: inline-block;
    /* flex-direction: row; */
}
h3{
    color: white;
    text-align: center;
    font-family: sans-serif;
    margin-top: 100px;
}
.imageContainer{
    text-align: center;
}
#record{
margin-top: 20%;
}

span{
    color: white;
    font-family: sans-serif;
    /* background: rgb(rgb(238, 44, 44), rgb(128, 0, 0), rgb(251, 21, 21)); */
}
.fa-music{
    color: white;

}
.userMusic{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.charts{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.fa-chart-line{
    color: white;
}
.searchContainer{
    text-align: center;
}
.fa-search{
    color: white;
    /* font-size: 30px; */
    margin-top: 30px;
}
.fa-arrow-left{
    margin-top: 20px;
    color: white;
}
/* *******************************No data********************************************** */
#noData{
    display: none;
    background-repeat: no-repeat;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

h1{
    text-align: center;
    margin-top: 10em;
    color: white;
    font-family: sans-serif;
}

.tryButton{
    text-align: center;
}

#buttonTryAgain{
    background:rgb(238, 44, 44);
    color: white;
    width: 15em;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}