
#shazamResponse{
    display: none;
    background-repeat: no-repeat;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    /* filter: blur(40px);
    -webkit-filter: blur(40px); */
}
.musicOption{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #ffffff;
    z-index: 4;
    /* background: linear-gradient(to bottom,black,rgba(0, 0, 0, 0)); */
}
.optionContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.musicCoverDiv{
    /* margin-top: 50px; */
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
}
.musicCover{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
   
}
#cover{
    max-width: 100%;
    min-height: 100vh;
    height: auto;
    object-fit: cover;
    /* margin-bottom: 20px; */
    /* border-radius: 10px; */

}
.detailsContainer{
    z-index: 1;
    margin-top: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    background: linear-gradient(to top,black,rgba(20, 20, 20, 0));
    color: white;
    font-family: sans-serif;
}
.musicDetails{
    
    margin-left: 20px;
}
.artistName{
    color: rgb(100, 99, 99);
    font-size: small;
}
.optionContainer{
    text-align: center;
    font-family: sans-serif;
}
.fa-share-alt,.fa-arrow-left{
    /* z-index: 1; */
    margin-left: 20px;
    font-family: sans-serif;
}
.playFullMusic{
    text-align: center;
    font-family: sans-serif;
}
.fullMusicButton{
    border: none;
    background: rgb(31, 30, 30);
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 10em;
    margin-top: 100px;
}

#lyricsContainer{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
#artistContainer{
    display: none;
}