
#shazamResponse{
    display: none;
    background-repeat: no-repeat;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
.musicOption{
    position: fixed;
    width: 100%;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #ffffff;
    z-index: 4;
    /* background: linear-gradient(to bottom,black,rgba(0, 0, 0, 0)); */
}
.optionContainer{
    z-index: 4;
    display: grid;
    grid-template-columns: 1fr  1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
}
.musicCoverDiv{
    /* margin-top: 50px; */
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
}
.musicCover{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
   
}
#cover{
    max-width: 100%;
    min-height: 100vh;
    height: auto;
    object-fit: cover;
    /* margin-bottom: 20px; */
    /* border-radius: 10px; */

}
.detailsContainer{
    z-index: 1;
    margin-top: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    top: 0;
    background: linear-gradient(to top,black,rgba(20, 20, 20, 0));
    color: white;
    font-family: sans-serif;
}
.musicDetails{
    margin-top: 30em;
    margin-left: 20px;
}
.artistName{
    color: rgb(100, 99, 99);
    font-size: small;
}
.arrowleft,.shareContainer{
    z-index: 4;
}
.fa-share-alt,.fa-arrow-left{
    margin-left: 20px;
    font-family: sans-serif;
}
.optionSong,.optionLyrics,.optionArtist{
    padding-top: 11px;
    height: 30px;
    border-radius: 20px;
}
.playFullMusic{
    text-align: center;
    font-family: sans-serif;
}
.fullMusicButton{
    border: none;
    background: rgb(31, 30, 30);
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 10em;
    margin-top: 30px; 
}

#lyricsContainer{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
/* *******************************************artist section*************************************** */
#artistContainer{
    z-index: 1;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}
#artistImg{
    text-align: center;
    margin-top: 5em;
}
#artistImage{
    border-radius: 50%;
    width: 200px;
}
.artistNameh4{
    color: rgb(189, 186, 186);
    text-align: center;
    font-family: sans-serif;
}
#trackParagraph{
    color:rgb(100, 99, 99);
    margin-left: 30px;
    font-family: sans-serif;
}
hr{
    color: rgb(100, 99, 99);
    margin: 0px 30px 0 30px;
    height: 1px;
}

/* **************************media queries ***************************************************** */
@media(min-width: 768px){
    .musicDetails{
        margin-top: 40em;
        margin-left: 20px;
    }
    .fullMusicButton{
        border: none;
        background: rgb(31, 30, 30);
        color: white;
        border-radius: 20px;
        height: 50px;
        width: 15em;
        margin-top: 100px;
        
    }
}

@media(min-width: 1024px){
    .fa-arrow-left,.fa-share-alt{
        font-size: 40px !important;
    }
    .optionSong,.optionLyrics,.optionArtist{
        font-size: 40px;
        height: 60px;
    }
    .musicDetails{
        margin-top: 30em;
        font-size: 30px;
    }
    .artistName{
        font-size: 30px;
    }
    .fullMusicButton{
        font-size: 30px;
        height: 70px;
    }
}

@media(min-width:1500px)
{
    .main-body{
        position: absolute;
        width: 40%;
        left: 30%;
    }
    .optionSong,.optionLyrics,.optionArtist{
        padding-top: 11px;
        height: 30px;
        border-radius: 20px;
        font-size: 12px;
    }
    .musicOption{
        position: fixed;
        width: 50%;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        color: #ffffff;
        z-index: 4;
        /* background: linear-gradient(to bottom,black,rgba(0, 0, 0, 0)); */
     }
    .detailsContainer{
        z-index: 1;
        margin-top: 0;
        position: fixed;
        width: 50%;
        bottom: 0;
        top: 0;
        background: linear-gradient(to top,black,rgba(20, 20, 20, 0));
        color: white;
        font-family: sans-serif;
     }
     .musicCoverDiv{
        width: 50%;

    }
     .musicCover {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 50%;
    }
    .musicDetails{
        margin-top: 22em !important;
        margin-left: 20px;
    }
    #titleNode,.artistName{
        font-size: 20px;
    }
    #artistImg{
        width: 50%;
    }
}