body{
    margin: 0;
    padding: 0;
    background: #000;
}
.imageContainer{
    text-align: center;
}
.shazamWelcome{
margin-top: 50%;
}

@media(min-width:1500px)
{
    .shazamWelcome{
        margin-top: 20%;
        }
}