<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
        <div class="emailContainer">
            <label for="email">Email</label>
            <input type="email" name="email" id="userEmail">
        </div>
        <div class="passwordContainer">
            <label for="password">Password</label>
            <input type="password" name="password" id="userPassword">
        </div>
        <div class="buttonContainer">
            <input type="submit" value="Submit">
        </div>
    </form>
    <div class="goTosignup">
        <button class="signup">Signup</button>
    </div>

    <script src="/static/login.js"></script>
</body>
</html>