<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/statics/record.css">
    <link rel="stylesheet" href="/statics/shazam-response.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shazam</title>
</head>
<body>

    <!-- ------------------WELCOME SECTION------------------------------------------------------- -->
        <section id="ShazamWelcome">
            <header>
                <div class="userMusic">
                    <i class="fas fa-music" style="font-size:30px"></i><br><span>Library</span>
                </div>
                <div class="charts">
                    <i class="fas fa-chart-line" style="font-size:30px;"></i><br><span>Charts</span>
                </div>
            </header>
                <h3 class="stateDesignation">Tap to shazam</h3>
            <div class="imageContainer">
                <img src="/public/shazam2.png" alt="image" id="record"> 
            </div>
            <!-- <div class="searchContainer">
                <i class="fa fa-search" aria-hidden="true" style="font-size:30px"></i>
            </div> -->
        </section>
            <!-- ---------------------- SHAZAM RESPONSE -------------------------------------------------------->
        <section id="shazamResponse">
                <section class="musicOption">
                    <div class="arrowleft">
                        <i class="fa fa-arrow-left" style="font-size:25px"></i>
                        <input type="text" id="inputOfCoping">
                    </div>
                    <div class="optionContainer">
                        <p class="option optionSong">SONG</p>
                        <!-- <p class="option optionLyrics">LYRICS</p> -->
                        <p class="option optionArtist">ARTIST</p>
                    </div>
                    <div class="shareContainer">
                         <i class="fa fa-share-alt" style="font-size:25px"></i>
                    </div>
                </section>
                <section class="musicCover">
                    <div class="musicCoverDiv">
                        <img id="cover" src="" alt="cover">
                        <input type="text" id="shareInput" hidden>
                    </div>
                </section>
                <section class="detailsContainer">
                    <div class="musicDetails">
                        <h2 id="titleNode"></h2>
                        <p class="artistName"></p>
                    </div>
                    <div class="playFullMusic">
                        <a id="musicUrlNode" href=""><button class="fullMusicButton">PLAY FULL SONG</button></a>
                    </div>
                </section>
                <section id="lyricsContainer">
                    <p id="lyricsPara"></p>
                </section>
                <section id="artistContainer" hidden>
                    <div id="artistImg">
                        <img src="" alt="artist image" id="artistImage">
                        <h4 class="artistNameh4"></h4>
                    </div>
                         <!-- <p id="trackParagraph">In your library</p> -->
                        <!-- <hr> -->
                    <!-- <div id="musicShazamInLibrary"> -->
                        <!-- <p></p> -->
                    <!-- </div> -->
                </section>
         </section>
         <section id="noData">
                <h1>No Data matched</h1>
             <div class="tryButton">
                 <button id="buttonTryAgain">Try Again</button>
             </div>
         </section>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>

    <script src="/static/record.js"></script>
</body>
</html>