<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/statics/signup.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <form action="/signup" method="post">
    <div class="emailContainer">
        <!-- <label for="email">Email</label> -->
        <input type="email" name="email" placeholder="Email" id="userEmail">
    </div>
    <div class="passwordContainer">
        <!-- <label for="password">Password</label> -->
        <input type="password" name="password" placeholder="Password" id="userPassword">
    </div>
    <div class="buttonContainer">
        <input type="submit" id="submitButton" value="Submit">
    </div>
    </form>
</body>
</html>